h4 How to use the app:
h5
  ol#howTo
    li.listItem Either click on 'Register' to register with an email and password or click 'Login' to login with one of your social accounts.
    li.listItem Once logged in, click to add a new trip.
