h4 How to use the app:
h5
  ol#howTo
    li.listItem Either click on 'Register' to register with an email and password or click 'Login' to login with one of your social accounts.
    li.listItem Once logged in, click to add a new trip.  Then you will be taken to the Existing Trips page.
    li.listItem Alternatively, to view existing trips, click on the 'Trips' link on navigation bar.
    li.listItem On the Existing Trips page, click on a 'Show' button to show the details of a trip.
    li.listItem On the Trip Details page, you can add a new stop destination to the trip or delete existing stops.
    li.listItem A new marker will appear on the map if your stop destination is recognized by Google Map. 
    
    
    
    
