h3 PROFILE

.row
  .col-md-4
    form(name='userForm', novalidate)
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='user.email')
      .form-group
        label(for='avatar') Link to Avatar
        input.form-control#avatar(type='url', name='avatar', ng-model='user.avatar')
      .form-group
        button.btn.btn-success(type='submit', ng-click='update(user)') Update
  .col-md-4
    img.img-responsive.img-thumbnail(ng-src='{{user.avatar}}')
  .col-md-4
