h3 Trip name: &nbsp;{{trip.name}}

.row
  .col-md-8
    #map
  .col-md-4
    .row
      .col-md-8
        form(name='stopForm', novalidate)
          .form-group
            label(for='name') Add a stop destination
            input.form-control#name(type='text', name='name', ng-model='stop.name')
      .col-md-4
          .form-group
            button#addStop.btn.btn-success(type='submit', ng-click='create(stop)') Add Stop
    .row
      .col-md-12
        table.table.table-striped
          thead
            tr
              th
              th Name
              th Latitude
              th Longitude
          tbody
            tr(ng-repeat='stop in trip.stops')
              td: button.btn.btn-danger.btn-xs(ng-click='destroy(stop)') Delete
              td {{stop.name}}
              td {{stop.lat | number:4}}
              td {{stop.lng | number:4}}
